@font-face {
  font-family: "Avenir Light";
  src: url("/fonts/Avenir-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Arial Black";
  src: url("/fonts/ariblk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/LibreBaskerville-Regular.ttf") format("truetype");

  font-weight: normal;
  font-style: normal;
}
