@font-face {
  font-family: "avenirCF";
  src: url("/fonts/Avenir Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "arialBlackCF";
  src: url("/fonts/ariblk.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "libreBaskervileCF";
  src: url("/fonts/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
